<!-- Master Pages de la Aplicacion -->
<!DOCTYPE html>
<html lang="es">
<!---------------------------------------------- Encabezado ----------------------------------------------------->

<head>
	<meta charset="UTF-8">
	<title>Santalucía - Unidos para el Éxito</title>

	<!-- CSS -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
	<link rel="stylesheet" href="template/css/style.css" />
</head>

<!-- Cuerpo -->

<body ng-app='miapp'>

	<div ng-show="loggedIn" ng-controller="navController">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand">StatusUserApp</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav" ng-show="loggedIn">
						<li><a ui-sref="home">home</a></li>
						<li><a ui-sref="status">status</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li ng-show="loggedIn"><a>Hola! {{userNameSession}}</a></li>
						<li ng-show="loggedIn"><a ng-click="logout()">Logout</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<!--<div class="right" ng-show="!loggedIn"><a ng-click="login()">Login</a></div>-->

	</div>


	<div class="container">
		<div ui-view></div>
	</div>


	<!--------------------------- Scripts ------------------------------>
	<script type="text/javascript">
		//Variable global para obtener la url de la API
		urlhttp = 'http://pruebas.area-innova.com:8888/api/';
	</script>
	<!---------- Angular Js Libs -------------->
	<script type="text/javascript" src="libs/angular.min.js"></script>
	<script type="text/javascript" src="libs/angular-ui-router.min.js"></script>

	<!---------- Modulos ---------------------->
	<script type="text/javascript" src="moduleRegistration.js"></script>

	<!---------- Servicios -------------------->
	<script type="text/javascript" src="services/authInterceptorService.js"></script>
	<script type="text/javascript" src="services/authService.js"></script>
	<script type="text/javascript" src="services/userService.js"></script>
	<script type="text/javascript" src="services/calculoStatusService.js"></script>

	<!---------- Controladores ---------------->
	<script type="text/javascript" src="controller/navController.js"></script>
	<script type="text/javascript" src="controller/loginController.js"></script>
	<script type="text/javascript" src="controller/statusController.js"></script>

	<!---------- App ------------------------->
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="config.js"></script>

</body>

</html>
