	.left {
	float: left;
}

.right {
	float: right;
}

.limp {
	clear: both;
	line-height: 17;
}

.img-avatar {
	display: block;
	width: 150px;
	padding: 5px;
	box-sizing: border-box;
}

.cont-left {
	width: 70%;
}

.cont-right {
	width: 30%;
}

.list-none {
	list-style: none;
}

.list-none label {
	color: #333;
	font-weight: normal;
	font-size: 14px;
}

.info-user {
	margin-left: 5px;
}

.info-user > li {
	list-style: none;
	margin-top: 3px;
}

.info-user-right {
	margin-top: 5px;
	padding: 10px;
	box-sizing: border-box;
}

.cont-info-usuario {
	box-sizing: border-box;
	padding: 10px;
}

.icon-heart {
	font-size: 100px;
	/*color: red;*/
}

.Critica-state {
	color: #757575;
}

.Regular-state {
	color: #ffd600;
}

.Optima-state {
	color: #ff6d00;
}

.Excelente-state {
	color: #f44336;
}

.label_icon-heart {
	font-size: 19px;
	font-style: italic;
}

#salud-section {
	padding: 20px;
	margin: 15px;
	box-sizing: border-box;
}

.signo {
	font-size: 40px;
	font-weight: bold;
	margin: 25px;
}

.label_etiqueta_salud {
	display: block;
	font-size: 20px;
	text-align: center;
}

.item-user-section {
	margin: 25px;
}

.label_valor_salud {
	position: relative;
	top: -20px;
	left: 10px;
}

.icon-performace {
	font-size: 52Px;
	color: darkblue;
}

.form-signin {
	max-width: 360px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 15px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}


/*.card .card-content {
	padding: 20px;
	border-radius: 0 0 2px 2px;
	height: 100px;
}*/

.progress-wrapper {
	position: relative;
	margin: 20px auto;
	font-size: 30px;
}

.progress {
	position: absolute;
	color: #bbb;
	font-weight: 100;
	line-height: 1;
}

.progress {
	overflow: visible;
	height: 20px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.cash-color {
	background-color: #95c11e !important;
}

.gold-color {
	background-color: #f9b233 !important;
}

.text-gold-color {
	color: #f9b233 !important;
}

.text-cash-color {
	color: #95c11e !important;
}

.material-icons-customer-font {
	font-size: inherit !important;
	font-weight: bold;
}

.medalla-img {
	display: block;
	width: 130px;
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

.label-medalla {
	color: #333;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	display: block;
}

.insignia-image {
	width: 65px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	box-sizing: border-box;
}

.insignia-label {
	color: #333 !important;
	font-size: 12px;
	text-align: center;
	font-weight: normal;
	display: block;
}


/*.vc {
	background-color: #cad639!important;
}

.vn {
    background-color: #66ac3d!important;
}

.ac {
    background-color: #35aee1!important;
}

.ma {
    background-color: #d72a6b!important;
}

.ao {
    background-color: #1f71b3!important;
}*/

.producto-services {
	/*display: flex;
	justify-content: space-around;
	text-align: center;
	align-items: center;*/
	width: 100%;
}

.producto-services div {
	width: 33.33333333%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	text-align: center
	/*display: flex;
	flex-flow: column;
	align-items: center;
	padding: 1em;
	background-color: initial!important;*/
}

.producto-services i {
	font-size: 1.3em;
	width: 2em;
	border-radius: 1em;
	height: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.producto-services h5 {
	color: rgba(31, 113, 179, .95);
	font-size: 12px;
}

.titulo-producto {
	color: #333;
	font-size: 1rem;
	margin-bottom: 2.4rem;
	margin-left: 35px;
	padding-left: 20px;
}

<<<<<<< HEAD
.modal-header h4 {
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    width: 85%;
}


=======
img.services-ico {
	width: 75px;
	display: block;
	height: 69px;
	margin: 0 auto;
}

.negrita {
	font-weight: 400;
}

.new-section {
	margin-top: 60px;
	margin-bottom: 30px;
}

.my-tabs {
	margin-top: 15px;
}

.separe-chart {
	width: 100% !important;
	height: auto !important;
	margin-top: 12px !important;
}

.insignia-titulo-barrio {
	font-weight: normal !important;
	margin-bottom: 22px;
}

.productos-content>div {
	margin-top: 5px;
	margin-bottom: 14px
>>>>>>> origin/master
