*{
	margin: 0;
	padding: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.limp{
	clear: both;
	line-height: 17;
}

#body-status {
	width: 980;
	margin: 0 auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 15px;
	padding: 35px;
	box-sizing: border-box;
}


.img-avatar {
	display: block;
	width: 150px;
}

.cont-left {
	width: 70%;

}

.cont-right {
	width: 30%;
}

.infoUser > li{
	list-style: none;
	font-family: roboto;
	margin-top: 5px;
	font-size: 18px;
}

.cont-info-usuario {
	width: 340px;
	box-sizing: border-box;
	padding: 10px;

}

.icon-heart {
	font-size: 70px ;
	color: red;
	position: relative;
}

.label_icon-heart {
	position: relative;
	top: -30px;
	left: -64px;
	color: #fff;
}

#salud-section {

	padding: 20px;
	margin-left: 15px;
	margin-right: 15ppx;
	box-sizing: border-box;
}

.signo {
	font-size: 40px;
	font-weight: bold;
	margin: 25px;

}

.label_etiqueta_salud {
	display: block;
	font-size: 20px;
		text-align: center;
}

.item-user-section {
	margin: 25px;
}

.label_valor_salud {
	position: relative;
	top: -20px;
	left: 10px;
}

.icon-performace {
	font-size: 52Px;
	color: darkblue;
}
