<div class="modal-body">
	<h6>Barrio: {{barrio}}</h6>
	<div ng-if="!edificio.isConstruido">
		<p>{{edificio.info}}</p>
	</div>
	<div ng-if="edificio.isConstruido">
		<h6>{{edificio.etiqueta}}</h6>
		<dl class="dl-horizontal">
			<dt>Imagen</dt>
			<dd>{{edificio.imagen}}</dd>
			<dt>Informacion</dt>
			<dd>{{edificio.info}}</dd>
			<dt>Precio</dt>
			<dd>$ {{edificio.precio}}</dd>
		</dl>
		<h6>Mejoras</h6>
		<ul>
			<li ng-repeat="mejora in edificio.mejoras">
				<dl class="dl-horizontal">
					<dt>Imagen</dt>
					<dd>{{mejora.imagen}}</dd>
					<dt>Informacion</dt>
					<dd>{{mejora.info}}</dd>
					<dt>Precio</dt>
					<dd>$ {{mejora.precio}}</dd>
				</dl>
			</li>
		</ol>
	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-success" type="button" ng-click="ok()">OK</button>
</div>
