<div id="loginPage">
	<form class="form-signin" name="mainLoginForm">
        <h2 class="form-signin-heading">Inicio de sesión</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="username" ng-model="user.username" required autofocus />
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="user.password" required>
        <button class="btn btn-lg btn-primary btn-block" ng-disabled="mainLoginForm.$invalid"
				ng-click="login(user)" type="button">Acceder</button>
      </form>
</div>
