<!----- Cuerpo de la pagina ----->
<div id="body-status">

	<!----- Encabezado ----->
	<header id="header-status">
		<div>
			<a ui-sref="status">STATUS</a>
		</div>
	</header>

	<!----- Sección de la informacion de usuarios ----->
	<section id="user-section">
		<div class="cont-left left">
			<div class="cont-info-usuario">
				<img src="template/img/avatar.png" class="left img-avatar" />
				<ul class="right infoUser">
					<li>{{user.username}}</li>
					<li>{{user.nombre + ' '+ user.apellidos }}</li>
					<li>{{user.email}}</li>
					<li>Departamento</li>
					<li>Empresa Grupo</li>
					<li>Ciudad</li>
				</ul>
				<div class="limp"></div>
			</div>
		</div>
		<div class="cont-right right">
			<ul>
				<li>
					<label><i class="fa fa-heart"></i> Salud <span>70%</span></label>
					<div class="cont-slider">

					</div>
				</li>
				<li>
					<i class="fa fa-hard"></i>
					<label>Patrimonio <span>70%</span></label>
					<div class="cont-slider">

					</div>
				</li>
				<li>
					<i class="fa fa-hard"></i>
					<label>Logros <span>70%</span></label>
					<div class="cont-slider">

					</div>
				</li>
				<li>
					<i class="fa fa-hard"></i>
					<label>Progreso <span>70%</span></label>
					<div class="cont-slider">

					</div>
				</li>

				<li>
					<i class="fa fa-hard"></i>
					<label>Tiempo de juego <span>70%</span></label>
					<div class="cont-slider">

					</div>
				</li>
			</ul>
		</div>
		<div class="limp"></div>
	</section>

	<!----- Sección de la salud de usuarios ----->
	<section id="salud-section">
		<h1>Salud</h1>
		<div class="item-user-section left">
			<div>
				<i class="fa fa-heart icon-heart"></i>
				<label class="label_icon-heart">Optima</label>
			</div>
			<div class="cont-slider"></div>
		</div>
		<div class="signo left">=</div>
		<div class="item-user-section left">
			<img src="template/img/monedas.png" />
			<label class="label_valor_salud">$100.000 </label>
			<label class="label_etiqueta_salud">Patrimonio</label>
		</div>
		<div class="signo left">+</div>
		<div class="item-user-section left">
			<i class="fa fa-line-chart icon-performace"></i>
			<label class="label_valor_salud">75% <i class="fa fa-exchange"></i></label>

			<label class="label_etiqueta_salud">Performance</label>
		</div>
		<div class="limp"></div>
	</section>

	<!----- Sección de la informacion del patrimonio y performace del usuarios ----->
	<section id="patrimonio-performance-section">
		<div class="patrimonio_sect">
			<h3>Patrimonio</h3>
			<label>$100.000 </label>

			<div class="item-patrimonio">
				<div>
					<label>3 UDS</label>
					<label>$ 70.000</label>
				</div>
				<label><i class="fa fa-propiedades"></i>Propiedades</label>
			</div>
			<div class="item-patrimonio">
				<div>
					<label>3 UDS</label>
					<label>$ 70.000</label>
				</div>
				<label><i class="fa fa-propiedades"></i>Propiedades</label>
			</div>
			<div class="item-patrimonio">
				<div>
					<label>3 UDS</label>
					<label>$ 70.000</label>
				</div>
				<label><i class="fa fa-propiedades"></i>Propiedades</label>
			</div>
		</div>
		<div class="performance-sect">
			<h3>Patrimonio</h3>
			<label>$100.000 </label>
			<i class="fa fa-arows"></i>
			<div class="graficos"></div>
		</div>
	</section>

	<!----- Sección de la informacion detallada del patrimonio de usuarios ----->
	<section id="patrimonio-detalle-section">
		<h3>Patrimonio</h3>
		<div class="graficos"></div>
	</section>

	<!----- Sección de la informacion de los logros del usuarios ----->
	<footer id="logro-section">
		<h3>Mis logros</h3>
	</footer>

</div>
